<header>
<h1 class="site-title"><i ></i> Game viewer</h1>
</header>

  <nav class="navbar">
    <ul class="navlist">
      <li class="navitem navlink active"><a href="#">All</a></li>
      <li class="navitem navlink"><a href="#">FPS</a></li>
      <li class="navitem navlink"><a href="#">MOBA</a></li>
      <li class="navitem navlink"><a href="#">Sports</a></li>
      <li class="navitem navlink"><a href="#">Racing</a></li>
      <li class="navitem navbar-search">
        <input type="text" id="navbar-search-input" placeholder="Search...">
        <button type="button" id="navbar-search-button"><i class="fas fa-search"></i></button>
      </li>
    </ul>
  </nav>

