<header>
<h1 class="site-title"><i ></i> Game World</h1>
</header>

  <nav class="navbar">
    <ul class="navlist">
      <li class="navitem navlink active"><a href="/all">All</a></li>
      <li class="navitem navlink"><a href="/fps">FPS</a></li>
      <li class="navitem navlink"><a href="/moba">MOBA</a></li>
      <li class="navitem navlink"><a href="/sports">Sports</a></li>
      <li class="navitem navlink"><a href="/racing">Racing</a></li>
      <!-- <li class="navitem navbar-search">
        <input type="text" id="navbar-search-input" placeholder="Search...">
        <button type="button" id="navbar-search-button"><i class="fas fa-search"></i></button> -->
      </li>
    </ul>
  </nav>
