body{
  margin-top:100px;
  width:100%;
background-color: black;
}
.background_container_box{
  background-color:#c5c5c5;
  align-items: center;
  width:1000px;
  padding:10px;
  margin-left: auto;
  margin-right: auto;



}
.game_element{
  height:270px;
}
.game_image{
  display:flex;
  float: right;
  height:250px;
  margin-top:50px;
}
.game_title{

  font-size: 30px;
  text-align: center;

}
.game_price{
float:right;
padding-right: 10px;
padding-bottom: 10px;
font-size: 25px;
}
.game_category{
  /* float:left; */
  padding-left:15px;
  font-size: 25px;
}
.game_description_text{
  /* float: right; */
  padding-left:15px;
  font-size: 25px;
  float:right;

}
.game_element{
  min-width: 800px;
  /* border-bottom:black solid 1px; */
  display:block;
}

.comments_main_box {

  /* border: black solid 1px; */
  padding:0px;
  margin:0px;


}
.comments_insert_comment p{

}
.comments_insert_comment{
box-shadow: 5px 5px 30px;
background-color: grey;
min-width: 500px;
width:auto;
max-width: 931px;
display: inline-block;
padding:10px;
border-radius:10px;
margin:20px;
}

.input_user_name{
border-radius: 10px;
padding-left:10px;
height:30px;
}
.input_comment{
  height:200px;
  width:300px;
  min-width:200px;
  max-width:730px;
  min-height:100px;
  border-radius: 20px;
  padding:10px;
  margin-left: 95px;
  margin-top:-25px;
}
p.username_in{
display: inline;
font-size: 20px;
}
p.comment_in{
  font-size: 20px;
}
.submit_button{
  display: inline;
  font-size: 20px;
  background-color: lightblue;
  border: none;
  padding:8px;
  border-radius: 8px;
  margin-right:20px;
}
.submit_button:hover{
  background-color: blue;
  color:white;
}
.all_comments_container{

  /* border: red solid 1px; */
  margin-left: 30px;
  margin-right: 30px;
}
 .single_comment_username .single_comment_comment_words{
  padding:0px;
  margin:0px;
}
.single_comment{
  padding-left:10px;
  padding-top:10px;
  padding-bottom: 20px;
  padding-right:20px;
  background:black;
  border-radius: 20px;
  margin-bottom:20px;
  box-shadow: 5px 5px 10px;

}
.single_comment_username{
  font-weight: bold;
  font-size: 22px;
  color:white;

}
.single_comment_comment_words{
  margin-left:30px;
  font-size: 22px;
  color:white;

}
