<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Games World</title>
  <link rel="stylesheet" href="/style.css">
<script src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.js" defer></script>
<script src="/commentBoxTemplate.js" charset="utf-8" defer></script>
<script src="/index.js" charset="utf-8" defer></script>
 </head>
 <body class="bodyimg">


    {{> header}}

    {{{body}}}


  </body>

</html>
