
<body>
  <div class="background_container_box">

    {{>gameintro game}}


    <div class="comments_main_box">

      <div class="comments_insert_comment">
        <p class="username_in">Username: </p>
        <input class="input_user_name"></input>
        <p class="comment_in">Comment: </p>
        <textarea class="input_comment" name="paragraph_text" cols="50" rows="10"></textarea>
        <button class="submit_button">Submit</button>
      </div>

      <div class="all_comments_container">
        <div class="single_comment">
            <p class="single_comment_username">
            TheUser</p>
            <p class="single_comment_comment_words">
            This is my comment hear me roar.</p>
        </div>


        <div class="single_comment">
          <p class="single_comment_username">
          TheUser</p>
          <p class="single_comment_comment_words">
          This is my comment hear me roar.</p>
        </div>

        <div class="single_comment">
          <p class="single_comment_username">
          TheUser</p>
          <p class="single_comment_comment_words">
          This is my comment hear me roar. This is my comment hear me roar. This is my comment hear me roar. This is my comment hear me roar. This is my comment hear me roar. This is my comment hear me roar.</p>
        </div>

    </div>

  </div>
</body>
