/* these control all the links, change if needed to match the theme */

a {
  color: #fff;
text-decoration: none;
}

a:hover,
a:focus {
  color: #319df6;  

}



/* these change the navbar + searchbar stuff */
.navbar {
  background-color: black;
  font-size: 18px;
  line-height: 22px;
}

.navlist {
  margin: 0 0 0 20px;
  padding: 0;
}

.navitem {
  display: inline-block;
}

.navlink a {
  padding: 8px 10px;
  display: inline-block;
}

.navlink.active {
  box-shadow: inset 0 -3px #319df6;
}

.navbar-search {
  float: right;
  margin-right: 20px;
  padding: 0;
  line-height: 38px;
}

#navbar-search-input {
  padding: 4px;
  font-size: 16px;
  background-color: #eee;
  border: 1px solid #dadada;
  border-radius: 2px;
}

#navbar-search-input:focus {
  outline: none;
  background-color: #fff;
}

#navbar-search-button {
  margin-left: -32px;
  font-size: 16px;
  background: none;
  border: none;
  color: #343434;
  cursor: pointer;
}

#navbar-search-button:hover {
  color: #319df6;
}

#navbar-search-button:focus {
  color: #319df6;
  outline: none;
}
 h1 {
	background-color: #3b3b3b;
	border: 30px  #c9ebfd;; 
	margin: -5px;
	padding : 20px;
}

 body{
 margin: 0px;
 background-color:#eeeeee;
 }


body {
background-image:url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1528428448075&di=892411b13b621f11285863253b535c52&imgtype=0&src=http%3A%2F%2Fpic20.photophoto.cn%2F20110921%2F0005018372131905_b.jpg); 
background-repeat:no-repeat; 
background-attachment:fixed;
background-size:cover;
}

.site-title{
color: white;
}
 /*---------------------------------------             Tanner's CSS                -------------------------------*/
 
.games_container{

  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
 
  margin-left:390px;
  margin-right:390px;
  margin-top:0px;
  margin-bottom:10px;
  background-color:#050966;
  padding-bottom:200px;
  padding-top:20px;	
 
}


.game_element{
  width:1000px;
   /* height: 220px; */
  border: grey solid 1px;
  /* position:relative; */
  min-height:250px;
  border-radius: 20px;
  margin-bottom:10px;
  background-color:grey;


}

.game_image{
//  width:400px;
  float:left;
  padding:10px;
  max-width:400px;
  border-top-left-radius:20px;
  border-bottom-left-radius:20px;


}
.game_title{
  text-align: center;
  padding:0;
  margin:0;
  padding-left:10px;
  padding-right:20px;

}

.game_info{
    display: flex;
    flex-direction: column;

}
.game_price{
  font-style: italic;

}

 .game_info p{
  padding:0;
  margin:0;
  padding-top:10px;
  /* font-family: "Roboto", ; */
  max-width:520px;
  font-family: 'Roboto', sans-serif;

}

.game_info{
  margin:10px;
  background-color:white;
  padding:10px;
  border-radius:5px;
}

